<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title || "CardVerse" %></title>
  <link rel="stylesheet" href="style.css" />
  <link rel="icon" href="/img/cardverse-logo.png" />
  
  <!-- GOOGLE ANALYTICS -->
  <%- include('partials/analytics') %>
</head>
<body class="<%= isDarkMode ? 'dark-mode' : '' %>">
  <%- include('partials/top-nav') %>

  <main>
    <%- body %>
  </main>

    <%- include('partials/bottom-nav', { isLoggedIn: isLoggedIn, role: role }) %>  

  <!-- Optional footer, scripts -->
  <script src="/js/script.js"></script>
</body>
</html>
